name: Test Dev Container Features

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Install @devcontainers/cli"
        run: npm install -g @devcontainers/cli

      - name: "Run Smoke Tests"
        # We use the CLI directly or the action. The action is easier.
        uses: devcontainers/action@v1
        with:
          base-path-to-features: ./src
          subcommand: test
